.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -2;
}

.text-container {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.title-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-content {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}

.number {
  display: flex;
  flex-direction: column;
}

.text-number {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.5px;
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #c2c2c2;
  margin: auto 32px;
}

.description {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  width: 70%;
}

.underline {
  width: 22px;
  height: 5px;
  border-radius: 2px;
  background: #603ebe;
}

@media (max-width: 1500px) {
  .title {
    margin: auto 6px;
    
  }
  .description {
    font-size: 1.125rem;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .title {
    font-size: 1.75rem;    
  }
  .description {
    font-size: 1.125rem;
    width: calc(100% - 40px);
  }
}