.pagination {
  display: flex;
  flex-direction: row;
  width: 54px;
  justify-content: space-between;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #d8d8d8;
}

.active {
  background-color: #5c3caf;
}
