.pagination {
    display: flex;
    flex-direction: row;
    width: 54px;
    justify-content: space-between;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #D8D8D8;
}

.active {
    background-color: #5C3CAF;
}