.container {
  position: relative;
}

.plus {
  width: 15px;
  height: 1px;
  background-color: #5c37b7;
  position: absolute;
  top: 7.5px;
  border: 1px #9173e6 solid;
  border-radius: 2px;
}

.plus:before {
  content: "";
  width: 1px;
  height: 15px;
  top: -7.5px;
  left: 6.5px;
  position: absolute;
  background-color: #5c37b7;
  border: 1px #9173e6 solid;
  border-radius: 2px;
}

.plus:after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #5c37b7;
  position: absolute;
  top: 0;
  left: 0;
}
