.diagonal1 {
  height: 6px;
  left: 18.67%;
  top: 55.8%;
  z-index: -1;
}

.diagonal2 {
  height: 6px;
  top: 9.94%;
  left: 66.69%;
  z-index: -1;
}

.plus1 {
  position: absolute;
  left: 29.66%;
  top: 15%;
}

.plus2 {
  position: absolute;
  opacity: 0.3;
  left: 31.88%;
  top: 18.07%;
}

.plus3 {
  position: absolute;
  top: 48.96%;
  left: 78.1%;
}

@media (max-width: 1500px) {
  .diagonal1 {
    top: 264px;
    left: 159px;
    height: 0.3125rem;
    width: 17.125rem;
    transform: translateY(14.95rem) rotate(-49.5deg);
  }

  .diagonal2 {
    display: none;
  }

  .plus1 {
    left: 27%;
    top: 12%;
  }

  .plus2 {
    position: absolute;
    left: 31.5%;
    top: 15.5%;
  }

  .plus3 {
    position: absolute;
    bottom: 52%;
    right: 22%;
  }
}

@media (max-width: 750px) {
  .diagonal1 {
    top: 109.92px;
    left: 49px;
    height: 0.1875rem;
    width: 10.17rem;
    transform: translateY(7.65rem) rotate(-49.5deg);
    z-index: 1;
  }

  .diagonal2 {
    display: block;
    top: 23.32px;
    left: 225.89px;
    height: 0.1875rem;
    width: 7.3825rem;
    transform: translateY(5.55rem) translateX(-1.6rem) rotate(-49.5deg);
    z-index: 1;
  }
  .plus1 {
    top: 9px;
    left: 71px;
  }

  .plus2 {
    top: 0px;
    left: 49px;
    opacity: 30%;
  }

  .plus3 {
    top: 150px;
    left: 266px;
  }
}
