.diagonal1 {
  height: 6px;
  left: 18.67%;
  top: 55.8%;
  z-index: -1;
}

.diagonal2 {
  height: 6px;
  top: 9.94%;
  left: 66.69%;
  z-index: -1;
}

.plus1 {
  position: absolute;
  left: 29.66%;
  top: 15%;
  z-index: -1;
}

.plus2 {
  position: absolute;
  opacity: 0.3;
  left: 31.88%;
  top: 18.07%;
  z-index: -1;
}

.plus3 {
  position: absolute;
  top: 48.96%;
  left: 78.1%;
  z-index: -1;
}

@media (max-width: 1500px) {
  .diagonal1 {
    top: 263.89px;
    left: 159px;
    height: 5px;
  }

  .diagonal2 {
    display: none;
  }

  .plus1 {
    left: 202px;
    top: 72px;
  }

  .plus2 {
    left: 224px;
    top: 89px;
  }

  .plus3 {
    left: 382px;
    top: 282px;
  }
}

@media (max-width: 750px) {
  .diagonal1 {
    top: 109.92px;
    left: 49px;
    height: 3px;
    z-index: 1;
  }

  .diagonal2 {
    display: block;
    top: 24.32px;
    left: 196.89px;
    height: 3px;
    z-index: 1;
  }
  .plus1 {
    top: 9px;
    left: 71px;
  }

  .plus2 {
    top: 0px;
    left: 49px;
    opacity: 30%;
  }

  .plus3 {
    top: 150px;
    left: 266px;
  }
}
