.container {
  margin-top: 11px;
}

.content {
  grid-template-rows: 238px 210px 210px;
}

.header {
  padding-left: 17.14%;
  padding-top: 90px;
}

.image-container {
  width: 51%;
  top: 0px;
  right: 125px;
}

.img {
  width: 100%;
}

@media (max-width: 1500px) {
  .content {
    grid-template-rows: 206px 178px 151px;
  }

  .header {
    padding: 0 0 15px 30px;
  }

  .image-container {
    position: absolute;
    top: -19px;
    width: 691px;
    height: 568px;
    right: -254px;
  }

  .img {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .container {
    margin-top: 20px;
    height: 496px;
}

.header {
    margin-bottom: 16px;
}

.image-container {
    height: 202px;
}

.image-components {
    width: 302px;
    height: 249px;
}

  .img {
      width: 302px;
      height: 249px;
      z-index: 2;
      position: relative
  }
}