.text {
    padding-left: 50%;
    background-color: #5E3DB3;
}

.description {
    color: #FFFFFF;
}

.underline { 
    background-color: #FFFFFF;
}

@media (max-width: 1500px) {
    .text {
        padding-left: 37%;
    }
}

@media (max-width: 750px) {
    .text {
        padding: 0 20px;
        height: 253px;
        background-color: #F5F4F9;
    }

    .description {
        color: #000000;
    }
    
    .underline { 
        background-color: #603EBE;
    }
}
