.container {
  margin-top: 100px;
}

.content {
  grid-template-rows: 210px 266px 238px;
}

.header {
  padding-left: 50%;
  margin: 0;
  margin-bottom: 10px;
}

.image-container {
  width: 35.3%;
  top: -50px;
  left: 175px;
}

.img {
  width: 100%;
}

@media (max-width: 1500px) {
  .content {
    grid-template-rows: 178px 234px 178px;
  }

  .image-container {
    top: 40px;
    left: -161px;
    width: 518px;
    height: 699px;
  }

  .img {
    width: 518px;
    height: 699px;
  }

  .header {
    padding-left: 37.9%;
    margin-bottom: 15px;
  }
}

@media (max-width: 750px) {
  .container {
    margin-top: 20px !important;
    height: 563px;
  }

  .header {
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 3.6618rem;
  }

  .image-components {
    width: 200px;
    height: 239px;
    left: 9px;
  }

  .image-container {
    margin-top: 15px;
    width: 200px;
    height: 239px;
  }

  .img {
    width: 200px;
    height: 281px;
    z-index: 1;
    position: relative;
  }
}
